.social-share {
  font-size: 30px;

  a {
    padding-right: 0.2em;
    color: #ddd;
    &:hover {
      color: #777;
      text-decoration: none;
    }
  }
}

.loading {

  text-align: center;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
  margin: 4em 0;

  .fa-spin {
    font-size: 5em;
    vertical-align: middle;
    margin-right: 0.2em;
  }
}
