<header class="gist-header">
    <a ng-href="{{gist.html_url}}" class="gist-url">gist#{{gist.id}}</a>
    <div class="gist-description" ng-show="gist.description">{{gist.description}}</div>
</header>
<div>

    <div class="file-list" ng-show="gist.fileCount">

        <section class="file" ng-repeat="file in gist.files">
            <p class="file-title">
                {{file.filename}}
            </p>
            <article markdown class="file-content"></article>
        </section>
    </div>
    <div share-links="Twitter, Facebook, Google-Plus"
         share-square="true"
         class="social-share"
         share-title="{{gist.description}} #gView# "></div>
</div>