<!--loading icon because of the promised `resolve`-->
<div class="loading" ng-show="isLoading">
    <i class="fa fa-spin fa-spinner"></i> Still loading...
</div>

<header class="gist-header" ng-show="gist">
    <a ng-href="{{gist.html_url}}" class="gist-url">gist#{{gist.id}}</a>
    <div class="gist-description" ng-show="gist.description">{{gist.description}}</div>
</header>
<div>

    <div class="file-list" ng-hide="gist.files | isEmpty">
        <section class="file" ng-repeat="file in gist.files">
            <p class="file-title">
                {{file.filename}}
            </p>
            <article markdown class="file-content"></article>
        </section>
    </div>
    <div ng-show="gist" share-links="Twitter, Facebook, Google-Plus"
         share-square="true"
         class="social-share"
         share-title="{{gist.description}}  #gView "></div>
</div>