<div class="index">

    <h1 class="index-logo">
        <a class="logo" href="http://g.zhiye.li/">gView</a>
        <small>View markdown files of special gist</small>
    </h1>

    <h2>Usage</h2>
    <ul class="usage">
        <li>Create a public gist on Github with one or more Markdown-syntax files.</li>
        <li>Note the gist ID number. It’s usually a longish number like 9403314</li>
        <li>View your writing presented nicely at
                <a href="/9403314" target="_blank">http://g.zhiye.li/9403314</a>
        </li>
    </ul>
</div>
